h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}
.title-h2{
    font-size: 20px;
    font-weight: 400;
}

.title-h2-detail{
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
}

p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.item-detail{
    background-color: rgb(255, 255, 255);
    width: 400px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 8px;
    padding: 20px;
    margin-top: 30px;
}

.item-detail h3{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.count{
    display: flex;
    color: tomato;
}
.control-toadd-products{
    display: flex;
    gap: 8px;
    width: 100%;
}
article{
    background-color: white;
    width: 600px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 8px;
    padding: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}
.information-product{
    display: flex;
    flex-direction: column;
}
.text-category-detail{
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.add-products-buttom{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

picture{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-product-detail{
    height: 100%;
}
.price-detail{
    font-size: 22px;
    font-weight: 500;
    margin: 0;
}

.product-detail{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
