*{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1{
    padding: auto;
    font-weight:500;
    font-size: 28px;
    color: black;
    font-weight: 500;
}

.item-list-container{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
}
.title-item-list-container{
    width: 1230px;
    margin-left: 200px;
    margin-right: 200px;
}
