.product-card{
    background-color: rgb(255, 255, 255);
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid rgba(86, 86, 86, 0.12);
    border-radius: 8px;
    padding: 20px;
}

.title-h2{
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 100;
    font-size: 20px;
    margin-top: 10px;
}

.product-card a{
    padding: 14px 7px;
    color: #1C1C1C;
    background-color: rgb(246, 246, 246);
    box-shadow: 0;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 6px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
    width: 100%;
    text-align: center;
}s
.product-card a:hover{
    background-color: #f3f3f3;
}
.price{
    font-size: 18px;
    font-weight: 500;
}
.img-container{
    width: auto;
}

img.img-product{
    width: 200px;
    height: auto;
}

.separator{
    width: 115%;
    border-bottom: 1px solid rgba(86, 86, 86, 0.12);
}

.ball-pulse{
    color: tomato;
}
