/* Estilos generales */
*{
    box-sizing: border-box;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
  
  .container-checkout-buyer{
    background-color: #fff;
    width: 600px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 16px;
    padding: 12px;
  }
  .container-rows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 16px
  }
  
  .text-h1-order{
    width: auto;
    margin: 0 auto;
    text-align: center;
    margin-top: 28px;
  }

  .text-h2-checkout{
    width: auto;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .generated-order{
    border: 1px solid rgb(217, 217, 217);
    width: 600px;
    border-radius: 8px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #fff;
    text-align: center;
  }

  .order-code{
    font-weight: 500;
    font-size: 22px;
  }

  .text-total-checkout{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    margin-top: 28px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 22px;
    font-weight: 500;
  }

  .title-checkout{
    font-weight: 400;
    font-size: 16px;
  }
  .input-container{
    display: flex;
    flex-direction: column;
  }
  
  /* Estilos del botón de generar orden */
  .button-generate-order {
    background-color: #4CAF50;
    color: white;
    border: none;
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 16px;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .button-generate-order:hover{
    background-color: #3e9a41;
    color: white;
  }
  
  /* Estilos del input de datos */
  .input-data {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    margin: 5px;
  }
  
  /* Estilos para pantallas pequeñas */
  @media (max-width: 600px) {
    .container-checkout {
      flex-direction: column;
      align-items: flex-start;
    }
  
    h1 {
      margin: 5px 0;
      font-size: 24px;
      font-weight: 500;
    }
  }
