nav{
    background-color: rgb(237, 237, 237);
    width: auto;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 34px;
    padding-right: 34px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
nav p{
    font-size: 28px;
    color: rgb(42, 42, 42);
    font-weight: 700;

}
section{
    display: flex;
    gap: 10px;
}
section button{
    padding: 14px 20px;
    color: rgb(42, 42, 42);
    background-color: rgb(237, 237, 237);
    box-shadow: 0;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
}
section button:hover{
    background-color: rgb(229, 229, 229)
}
