
.item-count-control{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.title-h3{
    font-size: 32px;
}

.btns{
    width: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.to-cart{
    width: 350px;
}